<div class="flex w-full h-full justify-center mt-32">
    <div class="grid h-1/2 grid-cols-1 gap-0.5">
  
      <div class="flex justify-center">
        <img class="w-1/3" src="../assets/logo_ifsp.png" alt="logo-ifsp">
      </div>
      <h1 class="flex justify-center font-extrabold">Haryel Costa Assenção</h1>
      <h2 class="flex justify-center">Site publicado na AWS em um bucket S3</h2>
      <h2 class="flex justify-center">exposto para a internet utilizando o Cloudfront</h2>
      <h2 class="flex justify-center">com domínio gerenciado pelo&nbsp;<a class="underline text-blue-400" href="https://www.freenom.com" target="_blank">Freenom</a>&nbsp;e AWS Route 53</h2>
      <h2 class="flex justify-center text-blue-400 underline"><a [routerLink]="['/bonus']">conteúdo bônus...</a></h2>
    </div>
  </div>